CMartinezTestWebServices/Connected Services/ServiceReferenceDemo/Operaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Operaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3012/Operaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3012/Operaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperaciones_Suma_InputMessage">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Resta_InputMessage">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Multiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Multiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Potencia_InputMessage">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="IOperaciones_Potencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperaciones">
    <wsdl:operation name="Suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperaciones/Suma" message="tns:IOperaciones_Suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperaciones/SumaResponse" message="tns:IOperaciones_Suma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperaciones/Resta" message="tns:IOperaciones_Resta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperaciones/RestaResponse" message="tns:IOperaciones_Resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperaciones/Multiplicacion" message="tns:IOperaciones_Multiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperaciones/MultiplicacionResponse" message="tns:IOperaciones_Multiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperaciones/Division" message="tns:IOperaciones_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperaciones/DivisionResponse" message="tns:IOperaciones_Division_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperaciones/Potencia" message="tns:IOperaciones_Potencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperaciones/PotenciaResponse" message="tns:IOperaciones_Potencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOperaciones" type="tns:IOperaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/IOperaciones/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/IOperaciones/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/IOperaciones/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/IOperaciones/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/IOperaciones/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Operaciones">
    <wsdl:port name="BasicHttpBinding_IOperaciones" binding="tns:BasicHttpBinding_IOperaciones">
      <soap:address location="http://localhost:3012/Operaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>